.form-control-matrix {
  padding: 1em 0;
  border: 1px solid #ad9b87;
  font-size: 22px;
  background: none;
  outline: none;
  background: linear-gradient(135deg, rgba(#f3eddf, 1), rgba(#e0d5c3, 1) 100%);

  @media (max-width: 600px) {
    padding: 0.5em 0;
    width: 100%;
  }
}

.form-calc-title {
  font-size: 28px;
}

@media (max-width: 1440px) {
  .form-calc-title {
    font-size: 24px;
  }
}
@media (max-width: 1280px) {
  .form-calc-title {
    font-size: 20px;
  }
}
@media (max-width: 1080px) {
  .form-calc-title {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .form-calc-title {
    //font-size: 28px;
  }
}
