table {
  border-collapse: collapse;
  text-indent: initial;
  border-spacing: 2px;
}
.table-bracket {
  td {
    text-align: left;
    vertical-align: middle;

    &:nth-child(1) {
      width: 100px;
    }
    &:nth-child(2) {
      text-align: right;
      width: 25px;
    }
    &:nth-child(4) {
      text-align: left;
      width: 25px;
    }
  }
}

.table-card-health {
  width: 100%;
  max-width: 800px;
  border-collapse: separate;
  border-spacing: 5px;
  margin: auto;
  td,
  th {
    padding: 20px 25px;
    width: 25%;
  }
  th {
    text-align: center;
  }
}

.table-card-period-energy {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
  td,
  th {
    padding: 20px 25px;
    width: 16.67%;
    padding: 5px;
    border: 1px solid #000;
    text-align: center;
    background-color: rgba($color: #fff, $alpha: 0.3);
  }
  th {
    font-weight: 800;
    background: linear-gradient(180deg, rgba(#f3eddf, 1), rgba(#e0d5c3, 1) 100%);
  }
}

@media (max-width: 600px) {
  .table-bracket {
    td {
      &:nth-child(1) {
        width: auto;
      }
      &:nth-child(2) {
        text-align: right;
        width: auto;
      }
      &:nth-child(4) {
        text-align: left;
        width: auto;
      }
    }
  }

  .table-card-health,
  .table-card-period-energy {
    th,
    td {
      font-size: 12px;
    }
  }

  .table-card-health {
    max-width: 100%;
    border-spacing: 1px;

    td,
    th {
      padding: 5px;
      font-size: 10px;
    }
  }

  .table-card-period-energy {
    max-width: 100%;
    td,
    th {
      padding: 5px;
      text-align: center;
    }
  }
}
